@charset "UTF-8";

body {
	background-color: white;
	color: black;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
}

a:link,a:active,a:visited {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 32px;
	font-weight: 200;
	text-shadow: 0 1px 0 #ffffff;
	margin: 0 0 10px 0;
}

nav,article {
	display: inline-block;
	margin: 0 5px;
	vertical-align: top;
}

header {
	color: white;
	height: 10px;
}

nav {
	display: block;
	margin: 10px auto 0 auto;
	border-bottom: 1px solid #c5c5c5;
	height: 32px;
}

nav.small ul li {
	min-width: 64px;
}

nav.small ul li:first-of-type {
	border: none;
	height: 32px;
	min-width: 0;
}

nav.large ul li {
	min-width: 128px;
}

nav ul {
	display: inline-block;
}

nav ul {
	margin-left: 20px;
}

nav ul:first-of-type {
	margin-left: 0;
}

nav ul li {
	float: left;
	height: 31px;
	border-top: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	margin: 0 10px 0 0;
	padding: 0;
	line-height: 32px;
}

nav ul li:last-of-type {
	margin-right: 0;
}

nav ul li.selected {
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
}

nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

article {
	width: 100%;
	margin: 0;
	padding: 0;
}

article>div {
	margin: 10px 0;
	padding: 0;
	/* border-top: 1px dashed #e0e0e0;
	border-bottom: 1px dashed #e0e0e0; */
}

article>div.face_roll {
	height: 128px;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
}

article>div.face_roll.small {
	height: 32px;
	line-height: 32px;
}

article>div.face_roll ul {
	display: inline-block;
	margin: 0 auto;
}

article>div.face_roll ul li {
	display: inline-block;
	margin-left: 10px;
}

article>div.face_roll ul li:first-of-type {
	margin-left: 0;
}

article>div.face_roll.small ul {
	height: 32px;
}

article>div.face_roll.small ul li {
	float: left;
}

article>div.face_roll.small ul li.text {
	border: 1px solid #c5c5c5;
	display: block;
	width: 30px;
	height: 30px;
}

article>div.face_roll ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

article>div.face_roll.small img {
	height: 32px;
}

article>div.material {
	width: 150px;
	height: 150px;
	display: inline-block;
	border: none;
	vertical-align: top;
	padding: 0;
	margin-bottom: 0;
	line-height: 150px;
}

article>div.material.full {
	display: block;
	margin: 10px auto;
}

article>div.material a {
	display: block;
	width: 100%;
	height: 100%;
}

article>div.material a img {
	max-width: 150px;
	max-height: 150px;
	vertical-align: middle;
	margin: auto;
}

section {
	margin: 0 0 10px 0;
}

section:last-child {
	margin: 0;
}

footer {
	padding: 2px;
	color: #000000;
	/* border-top: 1px dashed #e0e0e0; */
}

footer a:link,footer a:active,footer a:visited {
	font-weight: bold;
}

img.offline {
	opacity: 0.25;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

img.offline:hover {
	opacity: 1;
}

.red {
	background-color: #990033;
}

.green {
	background-color: #669966;
}

.blue {
	background-color: #336699;
}

.yellow {
	background-color: #FFFF00;
}

.home {
	font-size: 0.1px;
	text-align: center;
}

.home div {
	display: inline-block;
	min-height: 100px;
	font-size: 14px;
	vertical-align: top;
	text-align: left;
	width: 200px;
	border: 1px solid #c5c5c5;
	border-radius: 1px;
	margin: 0 5px 10px 5px;
	padding: 4px;
}


.home div ul li {
	margin: 4px 0;
}

.face {
	height: 128px;
}

.chart {
	display: block;
	float: left;
	width: 50%;
	height: 500px;
	overflow: hidden;
	margin: 10px 0;
	padding: 0;
	border: none;
}

.chart#donut {
	width: 500px;
}

.chart#line {
	width: calc(100% - 500px);
}

.table {
	width: 100%;
	overflow: hidden;
	margin: 10px auto;
	padding: 0;
	border: none;
}